<!DOCTYPE html>
<html>
<head>
	<title>Satya Bodduluri</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/scripts/script.js"></script>
</head>
<body>
	<div id="dummy">:D</div>
	<div id='titlePanel' class='panel outer' href='contact'>
		<div id='contactBlurb' class='blurb'>
			Feel free to contact me, as I am always eager to take on new and interesting projects.
		</div>
		<div id='contactName' class='panelName'>Satya Bodduluri</div>
		<div id='contactButton' class='moreButtonContainer'>
			<span class='moreButton'>Say "Hello"</span>
		</div>
	</div>
	<div id='aboutPanel' class='panel outer' href='about'>
		<div id='aboutBlurb' class='blurb'>
			My name is Satya Bodduluri. I am a Computer Science student at the University of Pennsylvania.
		</div>
		<div id='aboutName' class='panelName'>About</div>
		<div id='aboutButton' class='moreButtonContainer'>
			<span class='moreButton'>More</span>
		</div>
	</div>
	<div id='workPanel' class='panel inner' href='work'>
		<div id='workBlurb' class='blurb'>
			I have experience working with OCaml, Java, and HTML/CSS/JS. I like to work on my own projects as well as participate in hackathons.
		</div>
		<div id='workName' class='panelName'>Projects</div>
		<div id='workButton' class='moreButtonContainer'>
			<span class='moreButton'>More</span>
		</div>
	</div>
</div>
<div id='aboutPage' class='page'>
	<div class="navBar">
		<div class='navBarElem navBarNew navBarHome' href=''><span>Satya Bodduluri</span><div class='underline off'></div></div>
		<div class='navBarGroup'>
			<div class='navBarElem navBarAbout navBarNew' href='about'><span>About</span><div class='underline off'></div></div>
			<div class='navBarElem navBarWork navBarNew' href='work'><span>Projects</span><div class='underline off'></div></div>
			<div class='navBarElem navBarContact navBarNew' href='contact'><span>Contact</span><div class='underline off'></div></div>
		</div>
	</div>
	<div id='aboutText'>
		<div id='hello'>hello.</div>
		<div id='aboutInfo'>
			My name is Satya Bodduluri. I am currently a freshman studying Computer Science at the University of Pennsylvania. Thus far, I have had experience working with Java, OCaml, and some Web development including HTML/CSS/Javascript, Node, and Express.
			<br><br>
			I have become an avid participator in hackathons since coming to college; I've already been to PennApps Fall 2013 and Spring 2014, and I plan to attend at least two more by the year's end (#collegelyfe). 
			<br><br>
			Apart from computer science, I have strong SolidWorks skills, enjoy playing tennis, and dabble in <a href='http://500px.com/sbodduluri' target='_blank'>photography</a> from time to time. 
			<br><br>
			My online presence is also no joke. Take your pick.
			<br><br>
			<div class='aboutInfoDiv'>
				<span class='aboutSpan'><a href='mailto:satyab@seas.upenn.edu' target='_blank'>Email</a></span>
				<span class='aboutSpan'><a href='https://www.facebook.com/skbodduluri' target='_blank'>Facebook</a></span>
				<span class='aboutSpan'><a href='https://www.github.com/kowabungappl' target='_blank'>GitHub</a></span>
				<span><a href='https://www.linkedin.com/pub/satya-bodduluri/61/57/234' target='_blank'>LinkedIn</a></span>
			</div>
		</div>
	</div>
	<figure id='aboutPic'>
		<img src="images/idme.png"></img>
	</figure>
</div>
<div id='workPage' class='page'>
	<div class="navBar">
		<div class='navBarElem navBarNew navBarHome' href=''><span>Satya Bodduluri</span><div class='underline off'></div></div>
		<div class='navBarGroup'>
			<div class='navBarElem navBarAbout navBarNew' href='about'><span>About</span><div class='underline off'></div></div>
			<div class='navBarElem navBarWork navBarNew' href='work'><span>Projects</span><div class='underline off'></div></div>
			<div class='navBarElem navBarContact navBarNew' href='contact'><span>Contact</span><div class='underline off'></div></div>
		</div>
	</div>
	<div class='content'>
		<div class='listContainer'>
			<ul class='list'>
				<li class='item linked' href='soundq'>
					<figure class='itemPic'>
						<div class='imageOverlay'><span>View</span></div>
						<img src='images/soundq1.png' />
					</figure>
					<div class='itemDesc'>
						<div class='itemTitle'>SoundQ</div>
						<div class='itemInfo'>SoundQ is a chrome extension for SoundCloud that allows users to add SoundCloud songs to a queue for a more controlled listening experience.</div>
					</div>
				</li>
				<li class='item linked' href='impulse'>
					<figure class='itemPic'>
						<div class='imageOverlay'><span>View</span></div>
						<img src='images/impulse/impulse2.png' />
					</figure>
					<div class='itemDesc'>
						<div class='itemTitle'>Impulse</div>
						<div class='itemInfo'>Impulse is marketplace that targets the impulsive tendencies of consumers.</div>
					</div>
				</li>
				<li class='item' href=''>
					<figure class='itemPic'>
						<div class='imageOverlay'><span>???</span></div>
						<img src='images/quesmrk.jpg' />
					</figure>
					<div class='itemDesc'>
						<div class='itemTitle'>???</div>
						<div class='itemInfo'>The possibilities are endless...</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id='contactPage' class='page'>
	<div class="navBar">
		<div class='navBarElem navBarNew navBarHome' href=''><span>Satya Bodduluri</span><div class='underline off'></div></div>
		<div class='navBarGroup'>
			<div class='navBarElem navBarAbout navBarNew' href='about'><span>About</span><div class='underline off'></div></div>
			<div class='navBarElem navBarWork navBarNew' href='work'><span>Projects</span><div class='underline off'></div></div>
			<div class='navBarElem navBarContact navBarNew' href='contact'><span>Contact</span><div class='underline off'></div></div>
		</div>
	</div>
	<div class='content'>
		<div class='contactContainer'>
			<div class='thanks'>Thank you for visiting my site.</div>
			<div class='reachOut'>Feel free to contact me with project ideas.<br>I'd love to hear about them.</div>
			<div class='contactOptions'>
				<span class='contactSpan'><a href='mailto:satyab@seas.upenn.edu' target='_blank'>Email</a></span>
				<span class='contactSpan'><a href='https://www.facebook.com/skbodduluri' target='_blank'>FaceBook</a></span>
				<!-- <span>Phone: (650) 862-8651</span> -->
				<span class='contactSpan'><a href='https://github.com/kowabungappl' target='_blank'>GitHub</a></span>
				<span><a href='https://www.linkedin.com/pub/satya-bodduluri/61/57/234' target='_blank'>LinkedIn</a></span>
			</div>
		</div>
	</div>
</div>
<div id='soundqPage' class='projectPage page'>
	<div>
		<div class="navBar">
			<div class='navBarElem navBarNew navBarPre' href='impulse'><span>Previous</span><div class='underline off'></div></div>
			<div class='navBarElem navBarNew navBarBack' href='work'><span>Back to Projects</span><div class='underline off'></div></div>
			<div class='navBarElem navBarNew navBarNext' href='impulse'><span>Next</span><div class='underline off'></div></div>
		</div>
		<div class='content'>
			<div class='projText'>
				<div class='projTitle'>SoundQ</div>
				<div class='projInfo'>
					SoundQ is what is missing from SoundCloud. The chrome extension allows users to queue Soundcloud songs from anywhere on the website. The extension makes use of SoundCloud and SoundManager2's APIs. Feel free to download a copy of this extension <a href='https://chrome.google.com/webstore/detail/soundq/cmnpkgmfekalchlmekjnkpaamapaooji' target='_blank'>here</a>.
				</div>
				<div class='projSource'>
					Source: <a href='https://github.com/kowabungappl/SoundQ' target='_blank'>GitHub</a>
				</div>
			</div>
			<div class='projPics'>
				<div class='projPic'>
					<img src='images/soundq.png' />
				</div>
				<div class='projPic'>
					<img src='images/soundq1.png' />
				</div>
			</div>
		</div>
	</div>
</div>
<div id='impulsePage' class='projectPage page'>
	<div>
		<div class="navBar">
			<div class='navBarElem navBarNew navBarPre' href='soundq'><span>Previous</span><div class='underline off'></div></div>
			<div class='navBarElem navBarNew navBarBack' href='work'><span>Back to Projects</span><div class='underline off'></div></div>
			<div class='navBarElem navBarNew navBarNext' href='soundq'><span>Next</span><div class='underline off'></div></div>
		</div>
		<div class='content'>
			<div class='projText'>
				<div class='projTitle'>Impulse</div>
				<div class='projInfo'>
					Impulse is an online marketplace that capitalizes on the impulsive tendencies of today's consumers. 
					<br><br>
					The premise of the app is that buyers get a fixed time limit (~8 seconds) to decide whether or not they want to buy the product. After the time limit is up, the user never sees the product again, and loses, potentially, a great opportunity. Impulse is also similar to eBay in that users can upload their own products onto the website for others to buy.
					<br><br>
					This app was built during PennApps Spring 2014 by Reed Rosenbluth, Keshav Varma, and myself.
				</div>
				<div class='projSource'>
					Link: <a href='http://pennapps-impulse.herokuapp.com' target='_blank'>Impulse</a>
					<br><br>
					Source: <a href='https://github.com/ReedR95/Impulse' target='_blank'>GitHub</a>
				</div>
			</div>
			<div class='projPics'>
				<div class='projPic'>
					<img src='images/impulse/impulse1.png' />
				</div>
				<div class='projPic'>
					<img src='images/impulse/impulse2.png' />
				</div>
				<div class='projPic'>
					<img src='images/impulse/impulse3.png' />
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>