* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	-webkit-font-smoothing: antialiased;
}
body {
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
a:link { /* unvisited link */
	color:#000000;
}
a:visited { /* visited link */
	color:#000000;
} 
a:hover { /* mouse over link */
	color:#000000;
}
a:active { /* selected link */
	color:#000000;
}
#dummy {
	font-family: 'Helvetica', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #f5f5f5;
	position: absolute;
	top: 50%;
	left: 50%;
}
.panel {
	font-size: 200%;
	display: inline-block;
	text-align: center;
	position: absolute;
	height: 100%;
	width: 33%;
	z-index: 100;
	opacity: 1;
	background-color: white;
}
.panel:hover {
	color: white;
	background-color: black;
}
.outer {
	top: -100%;
 	bottom: 100%;
}
.inner {
	top: 100%;
 	bottom: -100%;
}
.panel div {
	text-align: center;
}
#titlePanel {
	width: 34%;
	left: 66%;
}
#aboutPanel {
	left: 0%;
}
.panelName {
	position: absolute;
	width: 100%;
	top: 50%;
}
.blurb {
	position: absolute;
	width: 90%;
	left: 5%;
	font-size: 50%;
	font-weight: 400;
	letter-spacing: 0px;
	top: 25%;
	opacity: 0;
}
.moreButtonContainer{
	position: relative;
	width: 100%;
	top: 50%;
	opacity: 0;
}
.moreButton {
	padding: 3px 10px 3px 10px;
	font-size: 75%;
	margin: auto;
	color: black;
	background-color: white;
	border-radius: 3px;
}
#workPanel {
	left: 33%;
}
.panel span {
	position: relative;
	top: 50%;
	cursor: pointer;
}
.page {
	position: absolute;
	height: 100%;
	width: 100%;
	display: none;
	z-index: 99;
	background-color: white;
}
#aboutPage {
	display: block;
	opacity: 0;
}
.navBar {
	position: fixed;
	height: 75px;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	z-index: 100;
}
.navBarElem {
	font-size: 100%;
	position: relative;
}
.navBarTitle {
	font-weight: 500;
}
.navBarGroup {
	position: absolute;
	height: 100%;
	top: 0;
	right: 8%;
}
.navBarNew {
	display: inline-block;
	cursor: pointer;
	height: 100%;
}
.navBarNew span {
	font-size: 120%;
	position: relative;
	top: 30%;
}
.navBarHome {
	position: absolute;
	left: 2%;
}
.navBarHome span {
	font-size: 160%;
	font-weight: 400;
	letter-spacing: 3px;
	top: 25%;
}
.navBarAbout {
}
.navBarWork {
	left: 15%;
}
.navBarContact {
	left: 30%;
}
.underline {
	width: 100%;
	bottom: 0;
	height: 5px;
	background-color: white;
	position: absolute;
}
.underline.off {
	display: none;
}
#aboutPic {
	left: 50%;
	position: absolute;
	top: 75px;
	z-index: -1;
}
#aboutPic img {
	width: 635px;
	height: 635px;
}
#aboutText {
	position: relative;
	top: 150px;
	left: 8%;
	width: 35%;
	font-size: 150%;
}
#hello {
	font-family: "Courier New", Courier, monospace;
	font-size: 100px;
	font-weight: 600;
	letter-spacing: 0px;
}
#aboutInfo {
	font-weight: 300;
	font-size: 75%;
	letter-spacing: 1px;
	position: relative;
	top: 10px;
}
.aboutInfoDiv {
	text-align: center;
	width: 100%;
}
.aboutSpan {
	padding-right: 8%;
}
.content {
	position: absolute;
	width: 100%;
	top: 75px;
}
.list {
	width: 80%;
	margin: auto;
	top: 25px;
	position: relative;
	list-style-type: none;
	padding: 0 2% 0 2%;
	height: 500px;
}
.item {
	padding: 5px 2% 5px 2%;
	border-top: 1px solid black;
	display: block;
	position: relative;
	cursor: pointer;
}
.itemDiv {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 3px;
}
.imageOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	color: black;
	text-align: center;
	display: none;
}
.imageOverlay span {
	position: relative;
	top: 50%;
	padding: 3px 10px 3px 10px;
	background-color: white;
	cursor: pointer;
}
.itemPic {
	width: 35%;
	margin: auto;
	position: relative;
	display: inline-block;
	left: 1%;
}
.itemPic img {
	max-width: 100%;
}
.itemDesc {
	position: absolute;
	display: inline-block;
	left: 42%;
	top: 30px;
}
.itemTitle {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 1px;
}
.itemInfo {
	font-size: 95%;
	font-weight: 300;
	letter-spacing: 1px;
	position: relative;
	top: 10px;
}
.navBarPre {
	position: absolute;
	left: 2%;
}
.navBarNext {
	position: absolute;
	right: 2%;
}
.projText {
	display: inline-block;
	width: 45%;
	position: relative;
	left: 4%;
	top: 100px;
}
.projTitle {
	font-size: 500%;
	font-weight: 400;
	font-family: 'Times', serif;
}
.projInfo {
	position: relative;
	font-weight: 300;
	top: 20px;
	width: 80%;
}
.projSource {
	position: relative;
	font-weight: 300;
	top: 40px;
}
.projPics {
	display: inline-block;
	position: absolute;
	width: 50%;
	top: 50px;
	overflow-y: scroll;
	text-align: center;
}
.projPic {
	width: 100%;
	position: relative;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid black;
}
.projPics img {
	max-width: 95%;
}
.contactContainer {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 10%;
}
.thanks {
	font-size: 300%;
	font-weight: 300;
	letter-spacing: 0px;
	margin-bottom: 3%;
	position: relative;
	top: 12%;
}
.reachOut {
	position: relative;
	font-size: 200%;
	font-weight: 300;
	letter-spacing: 1px;
	top: 20%;
}
.contactOptions {
	position: relative;
	font-size: 150%;
	top: 40%;
}
.contactSpan {
	padding-right: 12%;
}